.h1 {
    color: #19f;
}

.h2 {
    color: #91f`;
}

.h3 {
    color: #f91;
}

.h4 {
    color: #f19;
}

.h5 {
    color: #c05;
}

.h6 {
    color: #5c0;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
    cursor: pointer;
}

.li {
    
}